:root {
  width: auto;
  display: flex;
  line-height: 1.5;
  font-weight: 400;
  align-items: center;
  font-synthesis: none;
  flex-direction: column;
  box-sizing: border-box;
  color-scheme: light dark;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  padding-inline: 20px;
}

@font-face {
  font-family: Nunito;
  src: url(constants/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Nunito-Italic;
  src: url(constants/fonts/Nunito-Italic-VariableFont_wght.ttf);
}
