:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Nunito;
  src: url(constants/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Nunito-Italic;
  src: url(constants/fonts/Nunito-Italic-VariableFont_wght.ttf);
}
